<ion-view title="Cloud" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="cloud-form3" class="list ">
            <label class="item item-input " id="cloud-input3" name="url">
                <input type="text" placeholder="Azure URL">
            </label>
            <label class="item item-input " id="cloud-input4" name="team">
                <input type="text" placeholder="Team ID">
            </label>
        </form>
        <button id="cloud-button4" class=" button button-positive  button-block button-clear ">Add</button>
    </ion-content>
</ion-view>