<ion-view title="Main" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="main-form4" class="list ">
            <label class="item item-input" name="rtcNumber">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="RTC Number">
            </label>
        </form>
        <div class="spacer" style="width: 299.808px; height: 355.977px;"></div>
        <a href="tel:" id="main-button5" class=" button button-positive  button-block button-clear icon ion-android-camera "></a>
    </ion-content>
</ion-view>