/*background: url('/assets/example/bg_suburb.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}*/

.panel-default {
	opacity: 0.9;
	margin-top:30px;
}
.form-group.last {
	margin-bottom:0px;
}
.margin-sides{
	margin-left: 5px;
	margin-right: 5px;
}
.buttons-bottom {
    height:175px;
    position:absolute;
    bottom:0;
}

.center{
    left:50%;
}

.speech {border: 1px solid #DDD; border-radius: 5px; margin: 0; padding: 0}
.speech input {border: 0; width: 240px; display: inline-block; height: 40px;  padding: 5px}
.speech img {float: right; width: 40px; height: 40px }
.speech button {float: right; height: 40px }